@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,latin-ext);
/* line 7, ../sass/style.scss */
body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", "Verdana", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 150%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 25, ../sass/style.scss */
.peaps-logo {
  width: 90px;
  padding: 1% 1%;
}

/* line 31, ../sass/style.scss */
.step1 {
  position: absolute;
  background-image: url("../../img/bg_image_wheatField60q.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
}
/* line 40, ../sass/style.scss */
.step1 h1 {
  margin-top: 20%;
  margin-bottom: 4%;
  color: white;
  text-align: center;
  font-size: 4em;
  letter-spacing: 2px;
}
/* line 48, ../sass/style.scss */
.step1 .my-fb-class {
  width: 20%;
  margin: 0 auto;
  font-size: 1.2em;
  padding-top: 10px;
  height: 50px;
  text-align: center;
}
/* line 55, ../sass/style.scss */
.step1 .my-fb-class i {
  opacity: 1;
  padding-top: 7px;
}

/* line 62, ../sass/style.scss */
.shift-left {
  margin-left: 20%;
}

/* line 66, ../sass/style.scss */
.shift-nav {
  margin-left: 0%;
}

/* line 70, ../sass/style.scss */
.invisible {
  opacity: 0;
}

/* line 74, ../sass/style.scss */
.visible {
  opacity: 1;
}

/* line 78, ../sass/style.scss */
.green-glow {
  -moz-box-shadow: 0 0 300px #0f0;
  -webkit-box-shadow: 0 0 300px #0f0;
  box-shadow: 0px 0px 300px #0f0;
}

/* line 84, ../sass/style.scss */
.red-glow {
  -moz-box-shadow: 0 0 300px #f00;
  -webkit-box-shadow: 0 0 300px #f00;
  box-shadow: 0px 0px 300px #f00;
}

/* line 90, ../sass/style.scss */
.my-alert {
  z-index: 1;
  position: absolute;
  width: 50%;
  margin: 5% 30%;
}

/* line 97, ../sass/style.scss */
.my-progress {
  z-index: 2;
  position: absolute;
  width: 100%;
  background-color: transparent;
  text-align: center;
  margin-top: 40%;
  font-size: 2em;
  color: white;
}

/* line 108, ../sass/style.scss */
.my-fb-like {
  width: 20%;
  z-index: 2;
  margin: 2% 72%;
}

/* line 114, ../sass/style.scss */
.result {
  position: absolute;
  background-image: url("../../img/bg_image_wheatField60q.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-x: hidden;
  width: 100%;
  left: 0;
  top: 0;
}
/* line 123, ../sass/style.scss */
.result h1 {
  margin-top: 5%;
  color: white;
  text-align: center;
  font-size: 5em;
  letter-spacing: 2px;
}
/* line 130, ../sass/style.scss */
.result h2 {
  color: black;
  text-align: center;
}
/* line 134, ../sass/style.scss */
.result .contact-img {
  margin-top: 2%;
  margin-bottom: -3%;
  margin-left: 40%;
}
/* line 139, ../sass/style.scss */
.result .charts {
  padding-left: 5%;
}
/* line 141, ../sass/style.scss */
.result .charts h2 {
  color: #00C8F8;
  width: 40%;
  font-size: 3em;
}
/* line 146, ../sass/style.scss */
.result .charts p {
  margin-top: 5%;
  line-height: 150%;
  width: 40%;
  font-size: 1.5em;
  color: #afafaf;
}
/* line 153, ../sass/style.scss */
.result .charts canvas {
  display: float;
  margin-left: 50%;
  margin-top: -20%;
}
/* line 159, ../sass/style.scss */
.result .initiations {
  margin-top: 20%;
  margin-bottom: 10%;
  width: 100%;
}
/* line 164, ../sass/style.scss */
.result .ratios {
  width: 100%;
}

/* line 169, ../sass/style.scss */
nav {
  background-color: #181818;
  width: 20%;
  height: 100%;
  position: absolute;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  font-weight: 300;
  margin-left: -20%;
}
/* line 179, ../sass/style.scss */
nav ul {
  cursor: pointer;
  margin-left: -10%;
}
/* line 182, ../sass/style.scss */
nav ul li {
  line-height: 200%;
  font-size: 1.5em;
}
/* line 186, ../sass/style.scss */
nav ul li:hover {
  background-color: #00C8F8;
}
/* line 190, ../sass/style.scss */
nav ul li {
  list-style: none;
}
/* line 193, ../sass/style.scss */
nav h2 {
  margin-left: 7%;
  font-size: 1.4em;
}

/* line 199, ../sass/style.scss */
nav::-webkit-scrollbar {
  width: 7px;
}

/* line 203, ../sass/style.scss */
nav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* line 207, ../sass/style.scss */
nav::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
