@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,latin-ext);
/* line 6, ../sass/style.scss */
body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", "Verdana", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 150%;
}

/* line 21, ../sass/style.scss */
.step1 {
  position: absolute;
  background-image: url("../../img/bg_image_wheatField_overlayed.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
}
/* line 31, ../sass/style.scss */
.step1 img {
  width: 60px;
  margin: 1% 1%;
}
/* line 36, ../sass/style.scss */
.step1 h1 {
  margin-top: 20%;
  margin-bottom: 3%;
  color: white;
  text-align: center;
  font-size: 4em;
  letter-spacing: 2px;
}
/* line 44, ../sass/style.scss */
.step1 .my-fb-class {
  width: 20%;
  margin: 0 auto;
  font-size: 1.2em;
  padding-top: 10px;
  height: 50px;
}
/* line 50, ../sass/style.scss */
.step1 .my-fb-class i {
  padding-top: 7px;
}

/* line 56, ../sass/style.scss */
.step2 img, .step2 h1 {
  margin-left: 20%;
}
/* line 59, ../sass/style.scss */
.step2 a {
  visibility: hidden;
}

/* line 64, ../sass/style.scss */
nav {
  background-color: #181818;
  width: 20%;
  height: 100%;
  position: absolute;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  font-weight: 300;
}
/* line 74, ../sass/style.scss */
nav ul {
  cursor: pointer;
  margin-left: -10%;
}
/* line 77, ../sass/style.scss */
nav ul li {
  line-height: 200%;
  font-size: 1.5em;
}
/* line 81, ../sass/style.scss */
nav ul li:hover {
  background-color: #41b6e6;
}
/* line 86, ../sass/style.scss */
nav ul li {
  list-style: none;
}
/* line 90, ../sass/style.scss */
nav h2 {
  margin-left: 7%;
  font-size: 1.4em;
}

/* line 96, ../sass/style.scss */
nav::-webkit-scrollbar {
  width: 7px;
}

/* line 100, ../sass/style.scss */
nav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* line 104, ../sass/style.scss */
nav::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

/* line 135, ../sass/style.scss */
.step3 h2 {
  color: white;
  margin: 5% auto;
  width: 250px;
}
/* line 140, ../sass/style.scss */
.step3 p {
  width: 50%;
  line-height: 150%;
  margin: 0 auto;
}
